#header {
  position: fixed;
  background: #252525;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .7);
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s cubic-bezier(.4, 0, .2, 1);
  top: 10px;
  width: 90%;
  z-index: 199999;
}

.Server_Info,.Info_Content{
  color:white;
  height: 300px;
  max-height: 350px;
  height: 30vw;
  position: relative;
  display: flex;
  text-align: center;
}

.Info_Content{
  position: relative;
  left: 50%;
  transform:translateX(-50%);
}

.Server_Info_title{
  position:relative;
  color:white;
  left: 7%; 
  white-space:nowrap;
  width: fit-content;
  height: fit-content;
}

.MC_Server,.Web_Server,.Payment_System{
  filter:drop-shadow(1px 3px 5px rgba(255, 255, 255, 0.164));
  position: relative;
  height: fit-content;
  top: 5%;
  list-style:none;
}

.Web_Server{
  margin: 0px 10vw;
}

.slider img{
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.header-logo {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  width: 190px;
}

.head-animation {
  transform: translateY(-100%);
}

main {
  display: inline-block;
  width: 100%;
  height:fit-content;
  position: relative;
  background-color: #3d3d3d;
}

footer {
  background-color: #808080;
  color: #fff;
  height: 100px;
  padding: 40px;
  text-align: left;
  text-shadow: 3px 3px 3px #808080;
}
/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  width      : 100%;
  height     : calc(100vw / 16 * 9 + 56px);
  margin     : auto;
  overflow   : hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 56px;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 15s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url(./top.png);   /* 背景の画像を指定 */
  background-size: cover;
  resize: both;
}
.box .src2 {
  background-image : url(./CSMC.png);   /* 背景の画像を指定 */
  animation-delay  : 5s;
  background-size: cover;
  resize: both;
}
.box .src3 {
  background-image : url(./Conet_Dev.png);   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-size: cover;
  resize: both;
}

.Server_Info img{
  position: relative;
  width: 17vw;
  max-width: 200px;
  user-select: none; /* CSS3 */
  pointer-events: none;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
}

.about_server{
  font-family: "LineSeed_R";
  position: relative;
  top: 10px;
  width: 85vw;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.about_server a,.notice_all{
  text-decoration: none;
  color: royalblue;
  display: inline;
}

.notice{
  margin-top: 10px;
  position: relative;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.notice_title{
  margin-left: 7vw;
}

.notice_display{
  width: 85vw;
  height: 450px;
  position: relative;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.header_padding{
  height: 80px;
  background: #252525;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  40% { opacity: 0; }
 100% { opacity: 0; }
}
