/*========= レイアウトのためのCSS ===============*/
@charset "UTF-8";
@media screen and (max-width: 950px){
  html,body {
    height:auto;
    width:100%;
    margin:0 auto;
    font-family:'LineSeed';
    background:linear-gradient(135deg, #10b8e0, #28db91);
  }

  img{
    width: 30%;
    top: 10px;
    margin: 10px;

  }
    
  nav{
    position: fixed;
    display: none;
  }

  main{
    display: flex;
  }
  
  .content{
    margin-top: 40px;
  }

  #login{
    position: relative;
    border-radius: 6px;
    width: 80vw;
    background-color:white;
    padding: 30px 30px 40px;
    font-size: 0.8rem;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
  }

  .PS{
    position: relative;
    height: 10px;
  }
  
  input{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #c2d3e2;
  }
  
  .text{
    font-size: 20px;
  }
  
  .LoginB{
    position: relative;
    background: #1d6bb2;
      color: #fff;
      height: 40px;
      padding: 10px;
    FONT-WEIGHT: 500;
    display: inline-block;
    max-width: 265px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
  }
  
  footer{
    height: 100px;
  }

  .Goto_MakeAc:hover{
    opacity: .7;
    transition: .3s;
  }
}

@media screen and (min-width: 951px){
html,body {
  height:auto;
  width:100%;
  margin:0 auto;
  font-family:'LineSeed';
  background:linear-gradient(135deg, #10b8e0, #28db91);
}

img{
  position: fixed;
  width: 250px;
  top: 10px;
}

main{
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

nav{
  position: fixed;
  border-radius: 6px;
  background-color: white;
  width: 320px;
  padding-bottom: 1%;
}


nav ul{
  list-style:none;
  padding-left:0;
}

.url{
  position: relative;
  top:10px;
  font-size: 1.2rem;
  left: 30px;
}

.join{
  text-align: center;
}

.Goto_MakeAc{
  position: relative;
  background: #1d6bb2;
    color: #fff;
    height: 40px;
    padding: 10px;
  FONT-WEIGHT: 500;
  display: inline-block;
  max-width: 300px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c2d3e2;
  left: 50%;
  transform: translateX(-50%);
}

#login{
  position: relative;
  border-radius: 6px;
  width: 30vw;
  background-color:white;
  padding: 30px 30px 40px;
  overflow: hidden;
}

input{
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #c2d3e2;
}

.text{
  font-size: 20px;
}

.LoginB{
  position: relative;
  background: #1d6bb2;
    color: #fff;
    height: 40px;
    padding: 10px;
  FONT-WEIGHT: 500;
  display: inline-block;
  max-width: 265px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

footer{
  height: 100px;
}

.Goto_MakeAc:hover, .LoginB:hover{
  opacity: .7;
  transition: .3s;
}
}

